{% extends "base.html" %}

{% block content %}
    <div>
        <h1 data-test="follower-page-heading">{{ searched_user.username }} Followers List</h1>
    </div>
    <div>
        <ul class="list-group">
            {% for follower in followers %}
            <a href="{% url 'user_page' follower.follower.pk %}" data-test="follower-homepage"><li data-test="followers" class="list-group-item">Name: {{ follower.follower.username }} </li></a>
            {% endfor %}
        </ul>
       
    </div>
{% endblock content %}