{% extends "base.html" %}

{% block content %}
    <div>
        <h1 data-test="following-page-heading">{{ searched_user.username }} following</h1>
    </div>
    <div>
        <ul class="list-group">
            {% for follow in following %}
            <a href="{% url 'user_page' follow.following.pk %}" data-test="following-homepage"><li data-test="following" class="list-group-item">{{ follow.following.username }} </li></a>
            {% endfor %}
        </ul>
       
    </div>
{% endblock content %}