{% extends "base.html" %}


{% block content %}
    <div>
        <h1>Posts from People that you follow</h1>
        {% for followed in users_followed %}
            <div data-test="followed_user_posts">
                {% if followed.following.posts.all %}
                    <h2 data-test="post_author">{{ followed.following.username }}</h2>
                    <p data-test="post_text">{{ followed.following.posts.all.last.content }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}