{% extends "base.html" %}

{% block content %}
<div>
    <h1 data-test="user">Welcome to {{ searched_user.username}}'s page</h1>
    <a href="{% url 'follow' searched_user.pk %}" data-test="follow">Follow</a>
</div>
<div>
    <a href="{% url 'show_following' searched_user.pk %}" data-test="following-link"><p data-test="following-count">following: {{ following_number }}</p></a>
    <a href="{% url 'show_followers' searched_user.pk %}" data-test="followers-link"><p data-test="follower-count">followers: {{ follower_number }}</p></a>
</div>
<div>
    <h2>List of all posts</h2>
    {% for post in posts %}
    <a href="{% url 'post_info' post.pk %}" data-test="post-info"><div>
        <h1>Post: {{ post.pk }}</h1>
        <p data-test="created-post">{{ post.content }}</p>
    </div></a>
    {% endfor %}
    <h2>Make a New Post</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Post It" data-test="make-post">
    </form>
</div>

{% endblock content %}