* {
    box-sizing: border-box;
}
.welcome { 
    text-align: center;
}

.btn { 
    width: 50%
}

.stretch-it { 
    width: 100%
}

img { 
    display: inline-block;
    height: 100px;
    width: 100px;
}